@charset "UTF-8";

.time {
    
    border: 2px gray solid;
    background-color: rgb(85, 202, 202);
    border-radius: 10px;
    padding: 5% 8%;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Myfont';
    font-size: 30px;
}
.counter {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px gray solid;
    padding: 10%;
    background-color: rgb(157, 157, 157);
    border-radius: 10px;
    font-weight: 40px;
}